@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

:root {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    --nav-bg: orange;
    --main-bg: #fcbf49;
    --nav-width: clamp(210px, 22vw, 325px);
    --transition-notNav: margin-left 0.4s ease-in;
    --transition-nav: width 0.4s ease-in;
}

body {
    width: 100vw;
    height: 99vh;
    display: grid;
    grid-template-areas: 
    "nav header header header"
    "nav content content content"
    "nav footer footer footer";
    grid-template-rows: 0.8fr 4fr;
    grid-template-columns: 5rem 1fr 1fr 1fr;
    background-color: #fce7cc;
}


/* Navbar */
nav {
    grid-area: nav;
    height: 100vh;
    position: fixed;
    background-color: var(--nav-bg);
    overflow: hidden;
    width: 5rem;
    transition: var(--transition-nav);
}

.navbar:hover {
    width: var(--nav-width);
}
.navbar:hover > .navItem > h1,
.navbar:hover > .projectSection > .navItem > h1{
    display: inline;
}

.navbar > div:not(:first-child) > * {
    padding: 1vw 0.1vw 0.1vw 0vw;
    font-size: calc(20px + 0.2vw);
    padding-left: 20px;
}

.navbar > div:not(:first-child) > img {
    width: calc(20px + 0.5vw);
    height: calc(20px + 0.5vw);
}

.navbar > .projectSection > .navItem > img {
    width: calc(20px + 0.5vw);
    height: calc(20px + 0.5vw);
}

.navbar > .projectSection > .navItem > button > img {
    width: calc(10px + 0.5vw);
    height: calc(10px + 0.5vw);
}

.navbar > div:nth-child(5) {
    margin-top: 50px;
}

#tasksBtn {
    font-size: clamp(12px, calc(25px + 0.9vw), 50px);
}

.navbar:hover ~ .topHeader,
.navbar:hover ~ .listToDo {
    margin-left: calc(var(--nav-width) - 5rem);
}

.task img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(40px + 0.7vw);
    height: calc(40px + 0.7vw);
    padding-left: 10px;
    padding-top: 10px;
}

.navItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navItem > h1{
    display: none;
    margin-left: 5%;
}
.navbar > .projectSection > .navItem > h1 {
    display: none;
    margin-left: 12%;
}
.navItem > * {
    cursor: pointer;
}
.navItem > img:not(:first-child){
    padding: 0.5rem;
}

#navEdit,
#navDelete {
    display: none;
    background-color: orange;
    border: none;
}
.navbar:hover > .projectSection > .navItem > #navEdit,
.navbar:hover > .projectSection > .navItem > #navDelete{
    display: inline;
}

#navEdit {
    margin-left: 20px;
}
#navDelete {
    margin-left: 10px;
}
.projects {
    margin-bottom: 30px;
}

#addProjectTitle {
    display: none;
    width: 7vw;
    border: solid black;
    outline: none;
    background-color: orange;
    resize: none;
    margin-left: 12%;
}
#navOkay,
#navCancel {
    display: none;
    border: none;
    background-color: orange;
    width: calc(5px + 0.7vw);
    height: calc(5px + 0.7vw);
}

.navbar:hover > .projectSection > .navItem > #navOkay,
.navbar:hover > .projectSection > .navItem > #navCancel,
.navbar:hover > .projectSection > .navItem > #addProjectTitle{
    display: inline;
}


#addNew {
    margin-top: 100px;
    background-color: orange;
    border: none;
}
/* Header */
.topHeader {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-notNav);
    background-color: var(--main-bg);
}
.logoImage {
    width: calc(70px + 2vw);
    height: calc(70px + 2vh);
}
.title {
    font-size: 3rem;
}

/* Content */
.pageTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.listToDo {
    grid-area: content;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    transition: var(--transition-notNav);
}


.listItem {
    display: grid;
    grid-template-columns: .3fr 2fr 2fr 1fr .5fr .5fr;
    justify-self: center;
    align-items: center;
    margin-left: 50px;
}

.listItem > .taskTitle,
.listItem > .taskDetails {
    min-width: 20rem;
}

.listItem > * {
    min-width: 100px;
}

.listItem > img{
    width: calc(10px + 0.5vw);
    height: calc(10px + 0.5vw);
}

.listItem > img {
    width: 50px;
    background-color: #fce7cc;
    border: none;
    cursor: pointer;
}

.addList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.addList > * {
    cursor: pointer;
}
.addList > h1 {
    margin-left: 20px;
    font-size: 1.5rem;
}
.addList > img {
    width: calc(40px + 0.5vw);
    height: calc(40px + 0.5vw);
}

.addTaskBottom > button > img{
    width: calc(30px + 0.5vw);
    height: calc(30px + 0.5vw);
    margin: 10px;
    cursor: pointer;
}

.addTaskBottom > button {
    background-color: #fce7cc;
    border: none;
}

#addTaskForm {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


.addTaskTop {
    display: flex;
    flex-direction: column;
}
.addTaskTop > * {
    margin-bottom: 5px;
    border: none;
    resize: none;
    outline-color: orange;
}

#addTaskTitle {
    min-width: 20vw;
}

#addTaskDescription {
    height: 10vh;
}

#editTaskTitle,
#editTaskDescription,
#editTaskDate {
    height: 20px;
    border: 1px solid black;
    resize: none;
    outline: none;
    margin-right: 5px;
}

/* Footer */
footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 650px){
body {
    display: grid;
    grid-template-rows: 0.5fr 4fr;
    grid-template-columns: 5rem 1fr 1fr 1fr;
    height: 100vh;
}

.listToDo {
    grid-area: content;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    transition: var(--transition-notNav);
}

.topHeader {
    width: 650px;
}
    
.listItem {
    font-size: .3rem;
    display: grid;
    grid-template-columns: .5fr 2fr 2fr 1fr .5fr .5fr;
    justify-self: center;
    align-items: center;
    margin-left: 50px;
}
    
.listItem > .taskTitle,
.listItem > .taskDetails {
    min-width: 5rem;
}
    
.listItem > * {
    min-width: 100pxc(10px + 0.5vw);
}
    
.listItem > img {
    width: 20px;
    background-color: #fce7cc;
    border: none;
    cursor: pointer;
}

.logoImage {
    width: calc(30px + 2vw);
    height: calc(30px + 2vh);
}
.title {
    font-size: 1.5rem;
}

.addList > h1 {
    margin-left: 20px;
    font-size: .8rem;
}
.addList > img {
    width: calc(20px + 0.5vw);
    height: calc(20px + 0.5vw);
}

#addTaskTitle {
    width: 50vw;
}
    
#addTaskDescription {
    height: 10vh;
}

#addProjectTitle {
    width: 22vw;
}

#editTaskTitle,
#editTaskDescription,
#editTaskDate {
    height: 10px;
    border: 1px solid black;
    resize: none;
    outline: none;
    margin-right: 5px;
}

nav {
    height: 1000vh;
    grid-area: nav;
    position: fixed;
    background-color: var(--nav-bg);
    overflow: hidden;
    width: 5rem;
    transition: var(--transition-nav);
}
}