<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="main.js"></script>
    <script src="https://kit.fontawesome.com/918bb56235.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="styles.css">
    <title>To-Do List</title>
    <link rel="icon" type="image/x-icon" href="img/circle-check-regular.svg">
</head>
<body>

     <!-- LEFT NAVBAR -->
     <nav class="navbar">
        <div class="navItem task">
            <img src="img/list-check-solid.svg" alt="">
            <h1 class="button" id="tasksBtn">Tasks</h1>
        </div>
        <div class="navItem home">
            <img src="img/house-user-solid.svg" alt="">
            <h1 class="button" id="homeBtn">Home</h1>
        </div>
        <div class="navItem today">
            <img src="img/calendar-day-solid.svg" alt="">
            <h1 class="button" id="todayBtn">Today</h1>
        </div>
        <div class="navItem week">
            <img src="img/calendar-week-solid.svg" alt="">
            <h1 class="button" id="weekBtn">Week</h1>
        </div>
        <div class="navItem projects">
            <img src="img/diagram-project-solid.svg" alt="">
            <h1 class="button" id="projectsBtn">Projects</h1>
        </div>
        <div class="projectSection">
            <div class="navItem" data-project="0">
                <img src="img/bars-solid.svg" alt="">
                <h1 class="button">Gym</h1>
                <button class="edit" id="navEdit"><img src="img/pencil-solid.svg" alt=""></button>
                <button class="delete" id="navDelete"><img src="img/eraser-solid.svg" alt=""></button>
            </div>
            <div class="navItem" data-project="1">
                <img src="img/bars-solid.svg" alt="">
                <h1 class="button">Gym</h1>
                <button class="edit" id="navEdit"><img src="img/pencil-solid.svg" alt=""></button>
                <button class="delete" id="navDelete"><img src="img/eraser-solid.svg" alt=""></button>
            </div>
            <div class="navItem" data-project="2">
                <img src="img/bars-solid.svg" alt="">
                <textarea name="addProjectTitle" id="addProjectTitle" placeholder="Project Title" maxlength="35" required="true"></textarea>
                <button class="navOkay"><img src="img/check-solid.svg" alt=""></button>
                <button class="navCancel"><img src="img/ban-solid.svg" alt=""></button>
            </div>
        </div>
        <div class="navItem" id="addNew">
            <img src="img/plus-solid.svg" alt="">
            <h1 class="button" id="addNewButton">Add Project</h1>
        </div>
    </nav>


    <!-- HEADER -->
    <div class="topHeader">
        <div class="logo">
            <img src="img/circle-check-regular.svg" alt="logoImage" class="logoImage">
        </div>
        <div class="title">To-Do List</div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="listToDo">
        <ul class="list">
            <li class="listItem" data-list="0">
                <div name="unchecked" class="unchecked"><input type="checkbox"></div>
                <div class="taskTitle">Go Gym</div>
                <div class="taskDetails">Lift 200KG</div>
                <div class="date">2022-08-21</div>
                <button class="edit" id="contentEdit"><img src="img/pencil-solid.svg" alt=""></button>
                <button class="delete" id="contentDelete"><img src="img/eraser-solid.svg" alt=""></button>
            </li>
            <li class="listItem" data-list="1">
                <div class="unchecked"><input type="checkbox"></div>
                <div class="taskTitle">Go Shopping</div>
                <div class="taskDetails">Buy Tomato, Potato, Milk</div>
                <div class="date">2022-08-21</div>
                <button class="edit" id="contentEdit"><img src="img/pencil-solid.svg" alt=""></button>
                <button class="delete" id="contentDelete"><img src="img/eraser-solid.svg" alt=""></button>
            </li>
            <li class="listItem" data-list="2">
                <div class="unchecked"><input type="checkbox"></div>
                <textarea name="editTaskTitle" id="editTaskTitle" maxlength="35" required="true"></textarea>
                <textarea name="editTaskDescription" id="editTaskDescription"></textarea>
                <input type="date" id="editTaskDate" placeholder="Due Date" autocomplete="off" class="form-control">
                <button class="listOkay"><img src="img/check-solid.svg" alt=""></button>
                <button class="listCancel"><img src="img/ban-solid.svg" alt=""></button>
            </li>
        </ul>
        <div class="addList">
            <img src="img/plus-solid.svg" alt="">
            <h1 class="button" id="addNewTask">Add New Task</h1>
        </div>
        <!-- Add Task Form Hidden -->
        <form id="addTaskForm">
            <div class="addTaskTop">
                <textarea name="addTaskTitle" id="addTaskTitle" placeholder="Title: Do Homework" maxlength="35" required="true"></textarea>
                <textarea name="addTaskDescription" id="addTaskDescription" placeholder="Details: Do Math book from page 35 to 40"></textarea>
                <input type="date" id="addTaskDate" placeholder="Due Date" autocomplete="off" class="form-control">
            </div>
            <div class="addTaskBottom">
                <button class="taskOkay"><img src="img/check-solid.svg" alt=""></button>
                <button class="taskCancel"><img src="img/ban-solid.svg" alt=""></button>
            </div>
        </form>
        <!-- Edit Task Form -->
    </div>
    <!-- FOOTER -->
    <footer>
        <div class="footerWriting">Copyright &copy; <span class="footerDate"></span> <a href="https://github.com/karakuscem">karakuscem <i class="fa-brands fa-github"></i></a></div>
    </footer>
</body>
</html>